<?xml version="1.0"?>
<model>
  <name>DAF XF 450 Tractor</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Anirudh Bhalekart</name>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    This is a model of a DAF XF 450 Tractor Unit with ArduPilot integration.
  </description>
</model>
