<?xml version="1.0"?>
<model>
  <name>BiCopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Lee ChangKeun</name>
    <email>ata501045@gmail.com</email>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A BiCopter.

    Credits:
    Lee ChangKeun, https://github.com/GreenPine-CK/bicopter_simulation
    
    Propeller Phantom 3 9450
    Валентин Дмитриев, https://grabcad.com/library/propeller-phantom-3-9450-1

    DJI 2312(E305) Motor
    Vincent Shi, https://grabcad.com/library/dji-2312-e305-motor-1
    
    Hitech Servo HS-422
    PedroC https://grabcad.com/library/hitech-servo-hs-422-1
  </description>
</model>
