<?xml version="1.0"?>

<model>
  <name>Rocky Asphalt 20x20</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Rocky asphalt 20m x 20m (visual only)
  </description>
</model>
