<?xml version="1.0"?>
<model>
  <name>Helicopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Helicopter with a direct drive fixed pitch tail rotor.

    Original CAD model sourced from:
    Andrey Sazonov
    https://grabcad.com/library/rc-helicopter-t-rex-450
  </description>
</model>
