<?xml version="1.0"?>
<model>
  <name>Rover Playpen</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    This is a model of an obstacle course inspired by the clearpath_playpen world.
  </description>
</model>
