<?xml version="1.0"?>
<model>
  <name>Catamaran</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Andy Little</name>
    <email>kwikius@yahoo.com</email>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Sailing Catamaran.

    - CAD design: Andy Little
    - SDF model:  Rhys Mainwaring
  </description>
</model>
