<?xml version="1.0"?>
<model>
  <name>wsc_aircraft</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Trevor Phair</name>
    <email>tphair66@gmail.com</email>
  </author>

  <description>
    Model of Romaeris Corporation eUAV with ArduPilot integration and camera plus lidar sensors controlled by gimbal.
  </description>
</model>
