<?xml version="1.0"?>
<model>
  <name>OmniX Mecanum Rover</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Omni Rover with 4 Mecanum wheels and ArduPilot plugin.
  </description>
</model>
