<?xml version="1.0"?>
<model>
  <name>BlueBoat</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    BlueRobotics BlueBoat.
    https://bluerobotics.com/store/boat/blueboat/blueboat/

    3D Models retrieved from:
    https://cad.bluerobotics.com/BLUEBOAT_120_BR-101447_RevA_PUB.zip

    Properties

    Max speed (unloaded): 3 m/s
      - Set thrust multiplier to 70 in ArduPilotPlugin (+/- 35 N)

    ArduPilot

    Vehicle type:     Rover
    Frame type:       rover-skid

    ArduPilot Parameters

    CRUISE_SPEED      2.0
    CRUISE_THROTTLE   50.0
    FRAME_CLASS       2.0
    WP_SPEED          2.0

  </description>
</model>
