<?xml version="1.0"?>
<model>
  <name>RotorHeadCCW</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A helicopter rotor head (counter clockwise)

    Original CAD model sourced from
    https://grabcad.com/library/two-blade-small-helicopter-rotor-head-2
  </description>
</model>
