<?xml version="1.0"?>
<model>
  <name>Pik-20B Sailplane</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Aki Suokas</name>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A Pik-20B sailplane.

    Original CAD model by Aki Suokas, retrieved from GradCAD 09 June 2023.
    https://grabcad.com/aki.suokas-3
    https://grabcad.com/library/pik-20b-sailplane-1
  </description>
</model>

