<?xml version="1.0" ?>
<model>
  <name>Quadruped</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>ashvath100</name>
  </author>
  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A Gazebo model of a Quadruped
  </description>

</model>
