<?xml version="1.0"?>
<model>
  <name>lawnmower</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>ArduPilot Contributors</name>
  </author>

  <description>
    ArduPilot lawnmower rover model based on the PX4 zero-turn lawnmower geometry and WildThumper ArduPilot integration.
  </description>
</model>
