<?xml version="1.0"?>
<model>
  <name>Wild Thumper with Lidar</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    This is a model of a Wild Thumper rover with lidar.
  </description>
  <depend>
    <model>
      <uri>model://wild_thumper</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
