<?xml version="1.0" ?>
<model>
  <name>Swappy</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Roger Chen</name>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A Gazebo model of Roger Chen's Sawppy rover.
    https://github.com/Roger-random/Sawppy_Rover
  </description>

</model>
