<?xml version="1.0"?>
<model>
  <name>SkyCat TVBS</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Otto (lorbass)</name>
  </author>
  <author>
    <name>Mark Whitehorn</name>
  </author>
  <author>
    <name>Andrew Tridgell</name>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    This is a model of a SkyCat TVBS with ArduPilot integration.
  </description>
</model>
